.cart-widget {
    position: fixed;
    top: 60px;
    right: 25%;
    background: white;
    width: 300px;
    color: black;

    .cart-widget__list {
        margin-bottom: 0.8rem;
        max-height: 284px;
        overflow-y: scroll;
        overflow-x: hidden;
    }
}
