.movie-billboard {
    color: white;
    background-color: black;
    .p-card-body {
        min-height: 50px;
    }
    .p-card-title {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: small;
    }
}