@import '../../variables.scss';

nav {
    color           : white;
    background-color: $blackBackgroundLowOppacity;
    position        : fixed;
    width           : 100%;
    padding         : 10px;
    height          : $navbarHeight;
    z-index         : 1000;
    display         : flex;
    justify-content : center;
    align-items     : center;

    ul {
        list-style  : none;
        padding-left: 0;

        li {
            display: inline-block;

            a {
                text-decoration: none;
                font-family    : 'Maven Pro', sans-serif;
                font-weight    : 600;
                color          : #cccc;
                font-size      : 1.3rem;

                &:hover {
                    color: $activeLink
                }
            }

            .active {
                color: $activeLink
            }
        }
    }

    .search-login {
        a {
            color          : white;
            text-decoration: none;

            &:hover {
                color: #cccc;
                cursor: pointer;
            }
        }
    }
}



.toggle-button {
    color: white !important;

    .p-button-icon {
        font-size: 1.3rem;
    }
}

.cart-icon-link {
    position: relative;
    .p-badge {
        font-size: 10px;
        position: absolute;
        top: -7px;
        right: -10px;
        min-width: 1rem;
        height: 1rem;
        line-height: 1rem;
    }
}