.genre-title {
    color: white;
    font-size: 2rem;
    margin-bottom: 10px;
}

.home-title {
    text-align: center;
    color: white;
    font-size: 4rem;
    font-family: 'Bebas Neue';
    font-weight: 200;
    margin: 20px 0px 20px 0px;
}