.counter-input__inputtext--transparent {
    background-color: transparent;
    border-color: var(--primary-color);
    color: white;
    &:enabled:hover {
        border-color: var(--primary-color);
    }
}
