@import '../../../variables.scss';

.no-radius {
    border-radius: 0;
}

.p-card-black {
    background-color: $blackBackgroundLowOppacity;
    color: white;
    border-radius: 0;
    .p-card-title, .p-card-subtitle {
        color: white;
    }
}

.p-divider.p-divider-vertical::before {
    border-left: 1px solid #cccc;
}
.p-divider.p-divider-horizontal::before {
    border-top: 1px solid #cccc;
}